<%- include("partials/header") %>

   <section id="showcase" class="d-flex justify-content-center align-items-center">
        <div id="overlay">        </div>
            <div id="header" class="container text-white text-center">
                <h3 class="display-5 mb-0">WITH LOVE</h3>
                <h1 class="display-1">THE MURPHY'S</h1>
                <p class="lead d-none d-md-block">A small litle happy family.</p>
                <a class="btn btn-lg btn-primary" href="/member/new">Add New Family Member</a>
            </div>

    </section>

<div class="container my-3 my-md-5 ">

        <div class="row">
          <% person.forEach(function(person){ %>
          <div class="col-md-6 mb-sm-3" >          
            <div class="card">
              <img class="card-img-top" src="<%=person.image%>" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><%=person.firstname%> <%=person.lastname%></h5>
                <p class="card-text text-muted"><%=person.nickname%></p>
                <a href="/<%=person._id%>" class="btn btn-primary">More...</a> 
              </div>
            </div>
          </div>
          <% }); %> 
          <!-- <div class="col-md-6 mb-sm-3" >          
            <div class="card">
              
              <img class="card-img-top"  src="https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/82961395_10217879967284092_1148255095654187008_o.jpg?_nc_cat=109&_nc_sid=110474&_nc_ohc=qf3vA84U3IIAX_LEvb1&_nc_ht=scontent-dfw5-1.xx&oh=56079019a03e63579d1aabcabb74dd2e&oe=5EC2DFB7" class="card-img-top" alt="...">
              
              <div class="card-body">
                <h5 class="card-title">Ashley Murphy</h5>
                <p class="card-text text-muted">Hug your Mother</p>
                <a href="#" class="btn btn-primary">More...</a> 
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-sm-3" >          
            <div class="card">
              <img class="card-img-top" src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/91914896_10218507270406278_4503583400984051712_n.jpg?_nc_cat=100&_nc_sid=110474&_nc_ohc=kJ25BYWejX0AX_FlsAN&_nc_ht=scontent-dfw5-2.xx&oh=49bc099c6b57f91e929d3439caa832c6&oe=5EC1CE10" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Parker Murphy</h5>
                <p class="card-text text-muted">Parker's Birthday is in <span id="parkerTimer"></span> Days</p>
                <a href="#" class="btn btn-primary">More...</a> 
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-sm-3" >          
            <div class="card">
              
              <img class="card-img-top" src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/91067787_10218507270726286_6471672952294211584_n.jpg?_nc_cat=102&_nc_sid=110474&_nc_ohc=sc6BsG8VqPgAX_GNQ18&_nc_ht=scontent-dfw5-2.xx&oh=7301036c0d6b5801650b825d4016a68c&oe=5EBFD5C4" class="card-img-top" alt="...">
              
              <div class="card-body">
                <h5 class="card-title">Kenna Murphy</h5>
                <p class="card-text text-muted">Kenna's Birthday is in <span id="kennaTimer"></span> Days</p>
                <a href="#" class="btn btn-primary">More...</a> 
              </div>
            </div>
          </div>
        </div> -->

      </div>




    </div>




    <!-- <div class="row text-center" >
      <% person.forEach(function(person){ %>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="thumbnail">
          
          <div class="caption">
              <h4><%=person.firstname%></h4>
              <h4><%=person.lastname%></h4>
              <h4><%=person.city%></h4>
              <h4><%=person.state%></h4>
          </div>
          <p>
              <a href="/<%=person._id%>" class="btn btn-primary">More Info</a>
          </p>
          </div>
      </div>
      <% }); %> 

</div> -->





<%- include("partials/footer") %>